<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			
			<main class="list">
				<div class="site-description">
					<p>
                    I’m George. I’m a software engineer currently building <a href="https://hemisphere.so">Hemisphere</a> -- a headless CRM/BI platform.
                    </p>
				</div>
                <h3>Stuff I've Written</h3>
				<ul class="posts"></ul>
                {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ range $pages }}
                
                    <li class="post">
                        <a href="{{ .RelPermalink }}">{{.Title}}</a>
                            <span class="meta">[ {{ dateFormat "Jan 2, 2006" .Date }} ]{{ if .Draft }}<span class="draft-label">DRAFT</span> {{ end }}</span>
                    </li>
				{{ end }}
            </ul>
			</main>
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>
