/* remove the content things they were doing */
h1::before { content: ''; }
h2::before { content: ''; }
h3::before { content: ''; }
h4::before { content: ''; }
h5::before { content: ''; }
h6::before { content: ''; }

/*
title: clamp(3.2rem,5vw,5.2rem)
h1: 4.8 rem
h2: 2.8 rem
h3: 2.4 rem
h4: 2 rem
p: 1.8 rem
*/
.index-h2 {
    margin-top: 0;
}
h1 { font-size: 1.8rem}

h2 { font-size: 1.5rem}

h3 { font-size: 1.3rem}


header .main {
    font-size: 2.25rem;
}

.main a {
    border-bottom: 0px;
}

nav a {
    margin: 5px;
}
p a {
    text-decoration: none;
}

blockquote {
    border-left: 3px solid var(--maincolor);
    font-style: italic;
    margin: 0;
    padding-left: 15px;
    display: block;
    margin-block-start: 1em;
}
ul li {
    text-indent: 0;
}
ul > li::before {
    content: '';
    font-weight: bold;
}

ul {
    list-style-type: circle;
}

.tags ul {
    display: flex;
    list-style-type: none;
    padding-left: 0ch;
}
.tags ul li {
    background-color:rgba(242, 242, 242, 1);
    border: none;
    border-radius: 20px;
    text-align: center;
    text-indent: 0;
    margin: 3px;
}

.tags li::before{
    content: "";
  }
  .tags a{
    border-bottom: 0px; 
  }
  .tags a:hover{
    background-color: rgba(242, 242, 242, 1);
    color: black;
  }
.figure-subtitle {
    text-align: center;
    color: grey;
}
.figure-subtitle a {
    border-bottom: 0px;
}
/*
Top Geoge - 36 Px -> rem

*/
